body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #153365;
}
.center {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background: rgb(218, 163, 15) ;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px0;
    text-shadow: 0 0 10px #ff9900,
    0 0 10px #ff9900,
    0 0 10px #ff9900,
    0 0 10px #ff9900,
    0 0 10px #ff9900;
   
}
.skillBox {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}
.skillBox p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 0 10px 10px;
    padding: 0;
    letter-spacing: 1px;
}
.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}
.skill {
    background: #076d70;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #52befd;
    border-radius: 50px;
}
.skill_level {
    background: #52befd;
    width: 100%;
    height: 10px;
    border-radius: 50px;
}